.panel {
    position: absolute;
    left: var(--sidebar-width);
    top: 0;
    padding: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--panel-width);
    max-height: 100vh;
    border-left: solid 3px var(--color-gray);
    background: var(--color-white);
    overflow-y: auto;
    transition: 0.2s;
    z-index: 20;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media (max-width: 600px) {
    .panel {
        max-width: calc(100% - var(--sidebar-width) - 45px);
        padding-right: 5px;
        font-size: 12px;
    }
}

.panel--closed {
    left: calc(-1 * var(--panel-width));
}

.panel__closeBtn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 45px;
    left: calc(var(--sidebar-width) + var(--panel-width));
    top: calc(50% - 40px);
    border-radius: 0 10px 10px 0;
    background: var(--color-white);
    transition: 0.2s;

    @media (max-width: 600px) {
        left: calc(100% - 45px);
    }
}

.panel__closeBtn::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -32px;
    width: 56px;
    height: 32px;
    background-image: var(--message-tail);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(-1, 1);
}

.panel__closeBtn::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -32px;
    width: 56px;
    height: 32px;
    background-image: var(--message-tail);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.panel__closeBtn--hidden {
    left: calc(-1 * var(--panel-width));
}

.panel__closeBtn--expanded {
    left: calc(var(--panel-landmark-width) + var(--sidebar-width));
}

.panel__closeBtn:hover {
    cursor: pointer;
    opacity: 0.95;
}

.panel__closeBtn:active {
    opacity: 0.8;
}

.panel__landmark {
    width: var(--panel-landmark-width);
}

.panel::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

.panel__back:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.panel__back:active {
    transform: scale(0.97);
    opacity: 0.9;
}

.panel__title {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 15px;
    color: var(--color-mine-shaft);
}

.panel__cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    padding-bottom: 20px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.panel__cards::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}
