.panel {
    position: absolute;
    left: var(--sidebar-width);
    top: 0;
    padding: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: var(--panel-width);
    height: 100vh;
    border-left: solid 3px var(--color-gray);
    overflow-y: auto;
    transition: 0.2s;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.panel__landmark {
    width: var(--panel-landmark-width);
}

.panel::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

.panel__back:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.panel__back:active {
    transform: scale(0.97);
    opacity: 0.9;
}

.panel__title {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 15px;
    color: var(--color-mine-shaft);
}

.panel__cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    padding-bottom: 20px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.panel__cards::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}
