.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.25s;
    padding: 10px 22px;
    gap: 12px;
    color: var(--color-white);
}

.button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.button:active {
    transform: scale(0.97);
    opacity: 0.9;
}

.button--lg {
    height: var(--button-height-lg);
}

.button--md {
    height: var(--button-height-md);
}

.button--sm {
    height: var(--button-height-sm);
}

.button--blue {
    background: var(--color-blue);
    border: none;
}

.button--white {
    background: var(--color-white);
    border: solid 3px var(--color-gray);
    color: var(--color-gray-light);
}

.button--red {
    background: var(--color-red);
}

.button--gray-light {
    background: var(--color-gray-light);
}

.button--square--lg {
    padding: 0;
    width: var(--button-height-lg);
}

.button--square--md {
    padding: 0;
    width: var(--button-height-md);
}

.button--square--sm {
    padding: 0;
    width: var(--button-height-sm);
}
